@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 600;
  font-style: normal;
}
